/* - JUST FOR ME - */
.loader {
  transition: all 5s linear;
}

.base {
  background-image: url('bg-1.png');
  background-color: #111;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -1500px;
}

.loop {
  animation: looper 4.5s infinite;
}

.controls {
  opacity: 0;
  display: inline-block;
  padding: 10px 30px;
  margin-left: 30%;
  margin-top: 30%;;
}

.controls:hover {
  opacity: 1;
}

.ctrl-box {
  display: inline-block;
  font-family: 'Gotham', sans-serif;
  font-weight: 100;
  font-size: 1em;
  text-align: center;
}
  .ctrl-box button {
    color: #9a9a9a;
    background: none;
    border: none;
  }
  .ctrl-box button:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
  }


@keyframes slowload {
  0% {
    opacity: 0;
    background: #111;
  }
  100% {
    opacity: 1;
    background-image: url('bg-1.png');
  }
}

@keyframes looper {
  0% {
    background-image: url('bg-1.png');
    opacity: 0.5;
  }
  9% {
    background-image: url('bg-1.png');
    opacity: 0.5;
  }
  10% {
   background-image: url('bg-2.png'); 
   opacity: 1;
  }
  19% {
   background-image: url('bg-2.png');
   opacity: 0.5;
  }
  20% {
    background-image: url('bg-3.png');
    opacity: 1;
  }
  29% {
    background-image: url('bg-3.png');
    opacity: 0.5;
  }
  30% {
    background-image: url('bg-4.png');
    opacity: 1;
  }
  39% {
    background-image: url('bg-4.png');
    opacity: 0.5;
  }
  40% {
    background-image: url('bg-5.png');
    opacity: 1;
  }
  49% {
    background-image: url('bg-5.png');
    opacity: 0.5;
  }
  50% {
    background-image: url('bg-6.png');
    opacity: 1;
  }
  59% {
    background-image: url('bg-6.png');
    opacity: 0.5;
  }
  60% {
    background-image: url('bg-7.png');
    opacity: 1;
  }
  69% {
    background-image: url('bg-7.png');
    opacity: 0.5;
  }
  70% {
    background-image: url('bg-8.png');
    opacity: 1;
  }
  79% {
    background-image: url('bg-8.png');
    opacity: 0.5;
  }
  80% {
    background-image: url('bg-9.png');
    opacity: 1;
  }
  89% {
    background-image: url('bg-9.png');
    opacity: 0.5;
  }
  90% {
    background-image: url('bg-99.png');
    opacity: 1;
  }
  99% {
    background-image: url('bg-99.png');
    opacity: 0.5;
  }
  100% {
    background-image: url('bg-1.png');
    opacity: 1;
  }

}